[Desktop Entry]
Encoding=UTF-8
Name=Jetris
Comment=Tetris Clone
Exec=/usr/bin/jetris.sh
Icon=/usr/share/jetris/logo.png
Terminal=false
Type=Application
Categories=GNOME;Application;
